html, body{
  width:100%;
  text-align:center;
  margin:0;
  padding:0;
}

h1{
  text-align:center;
}

.slideshow{
  width:600px;
  height:500px;
  margin:auto;
}
.back{
  float:left;
  margin-top:240px;
}
.forward{
  float:right;
  margin-top:240px;
}