<h1>Welcome to the Slideshow!</h1>
<p>The current time is <strong><%= Time.now %></strong></p>
<div id="editContainer">
  <form id="editForm" class="hide">
    <input type="hidden" id="slideId" name="id">
    <input type="text" name="title" required><br>
    <textarea name="body" rows="20" cols="65" required></textarea><br>
    <input type="submit" value="Submit Edit">
  </form>
</div>
<button id="showEditButton">Edit Slide</button>
<div id="slideshow">
  <div class="back button">  
    <button id="backButton">Back</button>
  </div>
  <!--back button -->
  <div class="slide">
    <h2 id="title"></h2>
    <p id="body"></p>
  </div>
  <!--slide -->
  <div class="forward button">
    <button id="forwardButton">Next</button>
  </div>
  <!--forward button -->
</div>
<!--slideshow -->
    