<h1>Welcome to the Slideshow!</h1>
<div id="editContainer"></div>
    <button id="showEditButton" onclick="showForm()">Edit Slide</button>
    <div class="slideshow">
      <div class="back button">  
        <button onclick="previousSlide()">Back</button>
      </div>
      <!--back button -->
      <div class="slide">
        <h2 id="title"></h2>
        <p id="body"></p>
      </div>
      <!--slide -->
      <div class="forward button">
        <button onclick="nextSlide()">Next</button>
      </div>
      <!--forward button -->
    </div>
    <!--slideshow -->
    