<!DOCTYPE html>
<html>

  <head>
    <title>Slideshow!</title>
    <link rel="stylesheet" href="css/styles.css"> 
    <script src="global.js"></script>
  </head>

  <body onload="nextSlide()">
    <%= yield %>
  </body>
</html>